app-dropdown-solution {
  li {
    &:hover {
      color: red;
    }
  }
}

.app-dropdown {
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.24);
  height: 100%;
  display: block;
  overflow: auto;
}
