<div class="content-wrapper">
  <h2>Übung: Dropdown</h2>
  <p>Erstelle eine Dropdown-Komponente, wie z.B.: MatSelect.</p>
  <p>
    Dabei sind folgende Punkte wichtig:<br>
    1. Die Dropdown-Komponente soll über ein Button aufgerufen werden.<br>
    2. Das Dropdown-Feld soll nicht via CSS-Styling positioniert werden.<br>
    3. Als Inhalt für Dropdown-Feld wird empfohlen eigene Option-Elemente zu nutzen.* (* weiterführende Aufgabe möglich)
  </p>
  <hr>
  <p><i>Die Lösung hier platzieren</i></p>
</div>
