<div class="content-wrapper">
  <h2>Übung: Drag&Drop</h2>
  <p>Erstelle eine Drag&Drop-Komponente</p>
  <p>
    Mögliche Beispiele:<br>
    1. Ein Rechteck, welcher nur in einem abgegrenztem Bereich bewegt werden darf.<br>
    2. Zwei-Spaltige To-Do-Liste mit "Offene Tasks" und "Erledigt"<br>
    3. Zwei Listen. Liste 1 hat 10 Elemente, wo jeweils 5 Elemente unterschiedliche Farben (rot, grün) haben.
    In die Liste 2 dürfen nur rote Elemente aus der Liste 1 rein.
  </p>
  <hr>
  <p><i>Die Lösung hier platzieren</i></p>
</div>
