.toolbar-title {
  margin-left: 1em;
}

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;

  .sidenav {
    min-width: 250px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
